*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#020617;
  color:#fff;
}

/* NAVBAR */
.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 50px;
  background:rgba(15,23,42,0.9);
  backdrop-filter:blur(10px);
  position:sticky;
  top:0;
  z-index:1000;
}

.nav h1{
  color:#22c55e;
  font-size:26px;
}

.nav a{
  margin:0 18px;
  color:#fff;
  text-decoration:none;
  font-weight:500;
  position:relative;
}

.nav a::after{
  content:'';
  position:absolute;
  width:0;
  height:2px;
  background:#22c55e;
  left:0;
  bottom:-5px;
  transition:.3s;
}

.nav a:hover::after{
  width:100%;
}

/* HERO */
.hero{
  position:relative;
}

.hero img{
  width:100%;
  height:420px;
  object-fit:cover;
  filter:brightness(70%);
}

.hero-text{
  position:absolute;
  top:40%;
  left:8%;
}

.hero-text h2{
  font-size:48px;
}

.hero-text p{
  font-size:18px;
  margin-top:10px;
  color:#e5e7eb;
}

/* PRODUCTS */
.products{
  padding:60px;
}

.products h2{
  margin-bottom:35px;
  font-size:32px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:28px;
}

.card{
  background:#0f172a;
  padding:15px;
  border-radius:18px;
  text-align:center;
  transition:.4s;
  box-shadow:0 15px 40px rgba(0,0,0,.3);
}

.card:hover{
  transform:translateY(-10px) scale(1.03);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:14px;
}

.card h3{
  margin:12px 0 5px;
}

.card p{
  color:#22c55e;
  font-weight:600;
}

.card button{
  margin-top:12px;
  width:100%;
  padding:10px;
  background:linear-gradient(135deg,#22c55e,#16a34a);
  border:none;
  border-radius:8px;
  font-weight:600;
  cursor:pointer;
}

/* CART */
.cart{
  padding:90px;
  text-align:center;
}

.cart-box{
  max-width:420px;
  margin:auto;
  background:#0f172a;
  padding:40px;
  border-radius:18px;
}

.cart button{
  margin-top:20px;
  padding:12px 35px;
  background:#22c55e;
  border:none;
  font-weight:600;
}

/* LOGIN */
.login{
  padding:90px;
  text-align:center;
}

.login-box{
  max-width:360px;
  margin:auto;
  background:#0f172a;
  padding:40px;
  border-radius:18px;
}

.login input{
  width:100%;
  padding:12px;
  margin:12px 0;
  border:none;
  border-radius:8px;
}

.login button{
  margin-top:15px;
  width:100%;
  padding:12px;
  background:#22c55e;
  border:none;
  font-weight:600;
}

/* FOOTER */
footer{
  text-align:center;
  padding:25px;
  background:#0f172a;
  margin-top:60px;
}
